body {
    font-family: 微軟正黑體, sans-serif;
    margin: 20px;
    background-image: url('background-image1.jpg'); /* 添加背景圖片 */
    background-size: cover; /* 將背景圖片調整為滿版 */
    background-position: center; /* 將背景圖片置中 */
}

.title {
    text-align: center; /* 將標題置中 */
}

.title span {
   /* background-color: #003153; /* 設定標題背景顏色 */
    color:  	#FFD700; /* 設定標題文字顏色 */
    padding: 10px 20px; /* 設定標題內填充 */
    border-radius: 5px; /* 設定標題邊框圓角 */
    display: inline-block; /* 使標題成為內聯塊元素 */
}

.diary-form {
    text-align: center; /* 將輸入框和按鈕置中 */
}

#diary-content {
    width: 80%; /* 設定輸入框寬度 */
    height: 100px; /* 設定輸入框高度 */
    margin: 10px auto; /* 使輸入框水平置中 */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#F3F3FA;
    opacity: 0.6;
    resize: none; /* 禁用手動調整大小 */
}

#diary-content::placeholder {
    color:#003153; /* 設定佔位符顏色 */
}

#save-diary {
    width: 85%; /* 設定按鈕寬度 */
    height: 40px; /* 設定按鈕高度 */
    margin: 5px auto; /* 使按鈕水平置中 */
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color:#003153; /* 預設背景顏色 */
    color: #fff; /* 預設文字顏色 */
    cursor: pointer;
}

#save-diary:hover {
    background-color: #4682B4; /* 滑鼠滑過時的背景顏色 */
    transition: 0.2s; /* 過渡效果 */
}

.diary-container {
    text-align:flex-start; /* 將日記內容置中 */
    margin-bottom: 20px;
}

.diary-entry {
    display: block; /* 使每篇日記佔據單獨一列 */
    width: 80%; /* 設定日記寬度 */
    margin: 10px auto; /* 使日記水平置中 */
    padding: 10px;
    border:none;
    border-radius: 5px;
    position: relative; /* 設定日記條目的位置 */
    background-color:#F3F3FA;
    opacity: 0.8;
    word-wrap: break-word; /* 允許單詞換行 */
}

.diary-entry .date {
    font-weight: bold;
    color:#003153;
}
.diary-entry .content {
    margin-top: 5px;
    max-height: 80px; /* 設定最大高度 */
    overflow-y: auto; /* 超出部分垂直滾動 */
    
}

.diary-entry .delete-button {
    position: absolute; /* 設定刪除按鈕的位置 */
    bottom: 5px; /* 距離底部 5px */
    right: 5px; /* 距離右側 5px */
    background-color:	#D8D8EB; /* 刪除按鈕顏色 */
    color: #fff; /* 刪除按鈕文字顏色 */
    border: none;
    border-radius: 50%; /* 設定為圓形 */
    width: 20px; /* 設定按鈕大小 */
    height: 20px; /* 設定按鈕大小 */
    font-size: 16px; /* 設定文字大小 */
    display: flex; /* 使用 Flexbox 居中按鈕內容 */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.diary-entry .delete-button:hover {
    background-color: 	#C7C7E2; /* 滑鼠滑過刪除按鈕的顏色 */
}

#clear-all {
    display: block; /* 將刪除全部按鈕設為塊級元素 */
    width: 83.5%;
    margin: 0 auto; /* 水平置中 */
    background-color:#003153; /* 刪除全部按鈕顏色 */
    color: 	#fff; /* 刪除全部按鈕文字顏色 */
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* 設定內填充 */
    cursor: pointer;
}

#clear-all:hover {
    background-color: #4682B4; /* 滑鼠滑過刪除全部按鈕的顏色 */
}